:host {
    flex-direction: column;
    flex: 1;
    margin: 5px;
}

.column-header {
    background-color: lightskyblue;
    height: 50px;
}

.column-title {
    margin: 0;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
}